#logo
{
	width: 200px;
	margin-left: -13px;
	margin-top: -10px;
}

#bouton 
{
	width: 40px;
	margin-top: -10px;
}

/* VOLUME BAR CSS */

/* volume bar */
 .volume {
    position:relative;
    cursor:pointer;
    width:70px;
    height:10px;
    float:left;
    margin-top:21px;
    margin-right:19px;
    background-color:#000;
}
.volumeBar {
    display:block;
    height:10px;
    position:absolute;
    top:0;
    left:0;
    background-color:#888;
    z-index:10;
    width: 50%;
}
.volume3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 50px 100px;
    border-color: transparent transparent #007bff transparent;
    line-height: 0px;
    border-color: #000000 #000000 #007bff #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.volumeimg 
{
    margin-top: 15px;
    margin-right: 5px;
}

@media only screen and (max-width: 400px){
    .volume
    {
      	width: 47px;
       	position:relative;
    	cursor:pointer;
    	height:10px;
    	float:left;
    	margin-top:21px;
    	margin-right:19px;
    	background-color:#000;
    }
}

@media only screen and (max-width: 365px){
    .volume
    {
       width: 32px;
       position:relative;
    	cursor:pointer;
    	height:10px;
    	float:left;
    	margin-top:21px;
    	margin-right:19px;
   		background-color:#000;
    }
}

@media only screen and (max-width: 350px){
    .volume
    {
       width: 0px;
       position:relative;
    	cursor:pointer;
    	height:10px;
    	float:left;
    	margin-top:21px;
    	margin-right:19px;
    	background-color:#000;
    }
}